@model Dentaku_MVC.Models.dentakuModel

@{
    ViewBag.Title = "電卓もどき";
}
<h2>@ViewBag.Title</h2>

@using (@Html.BeginForm())
{
    <div class="form-item">
        @Html.LabelFor(model => model.siki)
        @Html.TextBoxFor(model => model.siki)
    </div>
    <div class="form-item">
        @Html.LabelFor(model => model.result)
        @Html.TextBoxFor(model => model.result)
    </div>
    <div class="button-panel">
        <input type="submit" 　class="button" value="ログイン" />
    </div>
    <br />
    <label style="color:#ff0000">@Html.ValidationSummary()</label>
}
